<ion-header class="main-view">
  <ion-toolbar color="primary">
    <ion-title> Forgot Password </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-content">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Enter your Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="resetPass()">Submit</ion-button>
  <div style="height: 20px"></div>
  <br />
  <br />
</ion-content>
