<ion-header [translucent]="true">
  <ion-toolbar color="warning">
   <ion-icon name="briefcase-outline" size="large" slot="start">
   </ion-icon> <ion-title size="10px"> GJEJ SPECIALIST </ion-title>
   <ion-button size="small" slot="end" color="primary" (click)="openModal()">login</ion-button>
  </ion-toolbar>
</ion-header> 
<ion-row slot="top">
  <swiper [config]="bannerConfig" class="banners">
    <ng-template swiperSlide *ngFor="let banner of banners">
      <img [src]="banner?.banner ">
    </ng-template>
  </swiper>
</ion-row>

  <ion-row >
    <ion-label>Njoftimet e specialisteve </ion-label>
    <ion-col size="12">
      <app-client-feed-list>
      </app-client-feed-list>
    </ion-col>
     <ion-col size="12">
     <app-specialist-feed-list>
     </app-specialist-feed-list>
    </ion-col>
  </ion-row>

