<ion-header class="main-view">
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
      <ion-buttons slot="end" >
          <ion-button routerLink="/tabs/home" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="modal-content">
      <ion-list>

          <ion-item>
          <ion-label>Login as:</ion-label>
          <ion-select [(ngModel)]="userType">
            <ion-select-option value="freelancer">Freelancer</ion-select-option>
            <ion-select-option value="client">Client</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      
      </ion-list>
  <ion-button expand="full" (click)="login()">Log in</ion-button>
  <ion-row> <ion-label class="login-q">Don't have an account? </ion-label>
  <ion-button color="success" (click)="signUp()" size="small"> Register </ion-button>

</ion-row>
</ion-content>