<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label></ion-tab-button>
  
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>SEARCH</ion-label></ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>MESSAGES</ion-label></ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label></ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
