<ion-header>
  <ion-toolbar>
    <ion-title>AddSpecialists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>name</ion-label>
    <ion-input [(ngModel)]="specialist.name" placeholder="write a name ">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>surname</ion-label>
    <ion-input [(ngModel)]="specialist.surname" placeholder="write a surname ">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>email</ion-label>
    <ion-input
      [(ngModel)]="specialist.email"
      type="email"
      placeholder="write a email "
    >
    </ion-input>
  </ion-item>
  <ion-button
    (click)="addSpecialist()"
    expand="block"
    fill="clear"
    shape="round"
  >
    add
  </ion-button>
</ion-content>

<ion-content>
  <ion-item *ngFor="let specialist of specialistList"
    >{{specialist.name}} {{specialist.surname}}
  </ion-item>
</ion-content>
