<ion-header>
    <ion-toolbar class="ion-text-center toolbar">
        <ion-title> Login</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/tabs/holanding-pageme" color="black">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="content">
    <ion-content class="modal-content">
        <ion-list>
            <!-- <ion-item>
            <ion-label>Login as:</ion-label>
            <ion-select [(ngModel)]="userType">
              <ion-select-option value="freelancer">Freelancer</ion-select-option>
              <ion-select-option value="client">Client</ion-select-option>
            </ion-select>
          </ion-item> -->
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input (keyup.enter)="login()" type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
        </ion-list>
        <div class="login-button ion-text-center">
            <ion-button
                    type="submit"
                    class="signinButton"
                    enter
                    (keyup.enter)="login()"
                    (click)="login() "
            >Log in
            </ion-button
            >
        </div>
        <div style="height: 20"></div>
        <br/>
        <br/>
        <ion-item class="ion-align-items-center">
            <ion-button
                    color="danger"
                    style="text-align: center !important"
                    (click)="forgotPass()"
                    size="small"
                    fill="clear"
            >
                Forgot password
            </ion-button>
        </ion-item
        >

        <br/>
        <ion-row>
            <ion-label class="login-q">Don't have an account?</ion-label>

            <ion-button color="success" routerLink="register" size="small">
                Register
            </ion-button>
        </ion-row>
    </ion-content>
</div>
