<ion-header>
  <ion-toolbar>
    <ion-icon
      name="menu-outline"
      slot="start"
      size="large"
      class="ion-padding"
    ></ion-icon>
    <ion-title>MENU</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" id="popover">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover #popover trigger="popover" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding ion-text-center" (click)="logout()">
          <ion-label color="danger"> LOGOUT </ion-label>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
