<ion-menu menuId="myMenu" contentId="main-content" id="main-content1">
    <ion-header>
        <ion-toolbar>
            <ion-title> {{user.userType}}:{{user.name }} </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ul class="list-unstyled">
            <ion-button fill="none" (click)="scrollToElement('njoftimet' )">
                <li> Njoftimet e mia</li>
            </ion-button>
            <ion-button fill="none" (click)="scrollToElement('info-personal')">
                <li>Informacioni personal</li>
            </ion-button>
            <!--            <ion-button fill="none" (click)="scrollToElement('organizata')">-->
            <!--                <li>Te dhenat e organizates</li>-->
            <!--            </ion-button>-->
            <ion-button fill="none" (click)="scrollToElement('siguria')">
                <li>Siguria</li>
            </ion-button>


            <br/>
            <br/>

            <ion-button color="danger" slot="bottom" (click)="logout()">
                Log out
            </ion-button>
        </ul>
    </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <!-- <ion-icon
            name="menu-outline"
            slot="start"
            size="large"
            class="ion-padding"
          ></ion-icon> -->
            <ion-title>My Account</ion-title>
            <ion-buttons slot="end">
                <ion-button fill="clear" id="popover-button">
                    <ion-icon
                            slot="icon-only"
                            name="ellipsis-vertical-outline"
                    ></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-popover
                #popover
                trigger="popover-button"
                triggerAction="click"
                (click)="logout()"
            >
                <ng-template>
                    <ion-content class="ion-padding ion-text-center">
                        <ion-label color="danger"> LOGOUT</ion-label>
                    </ion-content>
                </ng-template>
            </ion-popover>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-grid class="justify-content-center align-content-center" style="margin: auto auto;">
            <ion-row>
                <ion-col *ngIf="userLoaded==true" size-md="12">
                    <ion-header id="njoftimet" size="large" class="ion-padding"> Njoftimet e mia</ion-header>
                    <ion-grid expand="full">
                        <ion-row class="justify-content-center ">
                            <app-my-feeds [userType]="authService.userType.charAt(0)" [userName]="user.username">

                            </app-my-feeds>


                            <ion-button fill="none" style="color:blue " size="small"
                                        (click)="openAddFeedModal()"> Shto njoftim
                            </ion-button>
                        </ion-row>
                    </ion-grid>


                </ion-col>

            </ion-row>


            <ion-row>
                <ion-col>
                    <ion-header id="info-personal" size="large" class="ion-padding ion-margin-bottom">Informacioni
                        personal
                    </ion-header>
                    <ion-grid class="info-personal ion-text-center shadow ion-padding">
                        <ion-item>
                            <ion-label position="floating">Username</ion-label>
                            <ion-input [readonly]="isSaveButtonDisabled==true" type="text"
                                       [(ngModel)]="partialUserPersonalInfo.username"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Email</ion-label>
                            <ion-input [readonly]="isSaveButtonDisabled==true" type="text"
                                       [(ngModel)]="partialUserPersonalInfo.email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Emri</ion-label>
                            <ion-input [readonly]="isSaveButtonDisabled==true" type="text"
                                       [(ngModel)]="partialUserPersonalInfo.name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Mbiemri</ion-label>
                            <ion-input [readonly]="isSaveButtonDisabled==true" type="text"
                                       [(ngModel)]="partialUserPersonalInfo.lastName"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Vendodhja</ion-label>
                            <ion-input [readonly]="isSaveButtonDisabled==true" type="text"
                                       [(ngModel)]="partialUserPersonalInfo.location"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Pershkrim</ion-label>
                            <ion-input [readonly]="isSaveButtonDisabled==true" type="text"
                                       [(ngModel)]="partialUserPersonalInfo.pershkrim"></ion-input>
                        </ion-item>
                        <ion-button *ngIf="isSaveButtonDisabled==true" [disabled]="isSaveButtonDisabled==false"
                                    class=" ion-padding " id="edit-info"
                                    color="primary" (click)="editInfo()">
                            edit
                        </ion-button>
                        <ion-button [disabled]="isSaveButtonDisabled==true" class=" ion-padding " id="save-info"
                                    color="primary"
                                    (click)="saveInfo()">save
                        </ion-button>
                    </ion-grid>
                </ion-col>

            </ion-row>

            <!--            <ion-row>-->
            <!--                <ion-col>-->
            <!--                    <ion-header id="organizata" size="large" class="ion-padding">Te dhenat e organizates-->
            <!--                    </ion-header>-->


            <!--                </ion-col>-->

            <!--            </ion-row>-->

            <ion-row>
                <div class="h-90" id="siguria">

                    <ion-col expand="full" class="h-100">
                        <ion-header size="large" class="ion-padding">Siguria</ion-header>


                        <ion-button *ngIf=" isChangeButtonDisabled==false" class=" ion-padding " fill="none"
                                    color="primary"
                                    (click)="changePassButton()">Ndrysho kodin
                        </ion-button>


                        <ngb-alert *ngIf=" isChangeButtonDisabled==true" color="primary"
                                   style="background-color: white"
                                   class=" ngb-alert ion-text-center shadow ion-margin ion-padding">
                            <ion-header size="large" class="ion-padding ion-margin-bottom   ion-text-center">
                                Ndysho kodin e hyrjes
                            </ion-header>
                            <ion-item>
                                <ion-label position="floating">passwordi i ri</ion-label>
                                <ion-input type="password"
                                           [(ngModel)]="newPass">
                                </ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">rishkruaj passwordin e ri</ion-label>
                                <ion-input type="password"
                                           [(ngModel)]="retypedPass"></ion-input>
                            </ion-item>
                            <ion-item
                                    *ngIf="this.newPass !== this.retypedPass&&retypedPass.length>6"
                                    position="floating"
                                    class="passdontmatch"
                            >
                                Error:Password dont match
                            </ion-item>
                            <ion-item
                                    *ngIf="this.newPass ==this.retypedPass &&retypedPass.length>6"
                                    position="floating"
                                    class="passmatch"
                            >
                                [Info]:Password match
                            </ion-item>
                            <ion-item
                                    *ngIf="retypedPass.length<6"
                                    position="floating" class="passdontmatch"

                            >
                                [Error]:Passwordi duhet te jete te pakten 6 karaktere.
                            </ion-item>

                            <ion-button
                                    class=" ion-padding "
                                    (click)="changePass()">Ndrysho kodin e hyrjes
                            </ion-button>
                            <br>
                            <ion-button
                                    color="success"
                                    class="ion-margin"
                                    (click)="this.isChangeButtonDisabled=false">Dil
                            </ion-button>
                        </ngb-alert>


                    </ion-col>
                    <ion-col size="12">

                        <ion-button *ngIf="isDeleted==false" class=" ion-padding " fill="none"
                                    color="primary"
                                    (click)="deleteAccountP1()">Fshi llogarine
                        </ion-button>
                        <ngb-alert *ngIf="isDeleted==true" color="primary" style="background-color: white"
                                   class="ngb-alert ion-text-center shadow ion-margin ion-padding">


                            <ion-header size="large"
                                        class="ion-padding ion-margin-bottom   ion-text-center text-danger">
                                Fshi llogarine
                            </ion-header>
                            <p class=" shadow ion-padding ion-margin" style="color: red">Me fshirjen e llogarise do
                                fshihen
                                te gjitha te te
                                dhenat e tua perfshire
                                njoftimet qe ke
                                bere .</p>
                            <label class="ion-padding ion-margin" expand="full">Deshiron te fshish llogarine ?</label>
                            <ion-button
                                    color="danger"
                                    (click)="deleteAccount()">Fshi llogarine
                            </ion-button>

                            <ion-button
                                    color="success"
                                    (click)="this.isDeleted=false">Dil
                            </ion-button>
                        </ngb-alert>
                    </ion-col>
                </div>

            </ion-row>

        </ion-grid>


    </ion-content>
</div>
