<ion-header>
    <ion-toolbar>
        <ion-input
                [(ngModel)]="searchWord"
                name="searchWord"
                size="larger"
                type="text"
                placeholder="Search"
                class="ion-padding"
                (ionChange)="onSearch()"
        ></ion-input>
        <ion-button
                slot="end"
                fill="none"
                size="small"
                (click)="onSearch()"
                style="width: 48px; height: 48px"
        >
            <ion-icon
                    name="search-outline"
                    slot="end"
                    size="large"
                    class="ion-padding"
                    style="width: 38px; height: 38px; margin: 0px; padding: 0px"
            ></ion-icon
            >
        </ion-button>
    </ion-toolbar>
    <ion-segment
            class="segm  d-grid "
            [value]="segment"
            mode="md"
            (ionChange)="onSegmentChanged($event)"
    >
        <div class="row justify-content-center">
            <ion-segment-button class="segm  col-6" value="F">
                <ion-label class="">SPECIALIST</ion-label>
            </ion-segment-button>
            <ion-segment-button value="P" class="col-6 ion-text-center">
                <ion-label class="">PUNEMARRES</ion-label>
            </ion-segment-button>
        </div>
    </ion-segment>
</ion-header>


<ion-content color="light" class="ion-padding" *ngIf="searchWord.length>0">
    <ion-grid class="d-flex" expand="full">
        <ion-row expand="full" class="justify-content-center  align-content-center">
            <ion-col size-xs="12" size-sm="12" size="7" size-md="12" *ngFor="let feed of searchedFeeds;"
            >
                <ion-card [routerLink]="['/../tabs/all-feeds/feed-details' ,feed.id] "
                          (click)="onFeedClick(feed)" expand="full" class="ion-card ion-text-center">
                    <ion-card-header style="display: flex ;justify-content: space-between">

                        <ion-card-subtitle class=" item ">
                            <ion-icon name="time-outline"></ion-icon>
                            " {{  feed.time.format("DD/MM")  }}"
                            <br>

                            <ion-icon name="location-outline"></ion-icon>
                            <h6 [innerHTML]="feed.vendodhja | highlight:searchWord"></h6>
                        </ion-card-subtitle>

<!--                        <ion-card-subtitle class=" item ">-->
<!--                            <ion-icon name="location-outline"></ion-icon>-->
<!--                            <h6 [innerHTML]="feed.vendodhja | highlight:searchWord"></h6>-->
<!--                        </ion-card-subtitle>-->
                        <ion-card-subtitle class=" item " style="float: left">
                            <ion-icon name="person-circle-outline"></ion-icon>
                            {{ feed.userName }}</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-title>

                        <h6 [innerHTML]="feed.tittle | highlight:searchWord"></h6>

                    </ion-card-title>

                    <ion-card-content>
                        <h6 [innerHTML]="feed.pershkrim.slice(0, 200).concat('   ......') | highlight:searchWord"></h6>

                    </ion-card-content>
                    <ion-card-content style="display:flex;justify-content: flex-end ;">
                        <ion-button fill="none" style="color:blue " size="small" (click)="onFeedClick(feed)"> Shiko me
                            shume
                        </ion-button>

                    </ion-card-content>

                    <ion-back-button></ion-back-button>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
