<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title> GJEJ SPECIALIST </ion-title>
    <ion-button
      color="warning"
      size="small"
      slot="end"
      expand="block"
      [routerLink]="['/add-specialists']"
      routerLinkActive="router-link-active"
      ><ion-icon name="add" slot="start"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button>Default</ion-button>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>
</ion-content>
