<ion-header >
  <ion-toolbar color="success">
    <ion-title>
      Register 
    </ion-title>
      <ion-buttons slot="end">
          <ion-button routerLink="/tabs/home" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
   <ion-item>
          <ion-label>Register  as:</ion-label>
          <ion-select [(ngModel)]="userType">
            <ion-select-option value="freelancer">Freelancer</ion-select-option>
            <ion-select-option value="client">Client</ion-select-option>
          </ion-select>
          </ion-item>
          <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

      <ion-item >
      <ion-label position="floating"> Rewrite password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
  
      </ion-list>
  <ion-button color="success" expand="full" (click)="register()">register</ion-button>
  <ion-row> <ion-label class="register-q">Do you have an account? </ion-label>
  <ion-button color="primary" (click)="openLoginModal()" size="small"> Log in </ion-button>
</ion-row>
</ion-content>